html,
body,
#map-container {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	background-color: #111;
}
#dTools {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#dTools a {
  display: inline-block;
  padding: 0.5rem;
	border: dimgray;
  background: white;
  cursor: pointer;
}





